*.epub
*.pdf
.DS_Store
./linear_programming/mello/Mokhtar-S.-Bazaraa_-John-J.-Jarvis-Linear-programming-and-network-flows-Wiley-_1977_.epub
./Dimitris Bertsimas, John N. Tsitsiklis - Introduction to Linear Optimization-Athena Scientific (1997).pdf
