*.epub
*.pdf
.DS_Store
./linear_programming/mello/Mokhtar-S.-Bazaraa_-John-J.-Jarvis-Linear-programming-and-network-flows-Wiley-_1977_.epub
./Dimitris Bertsimas, John N. Tsitsiklis - Introduction to Linear Optimization-Athena Scientific (1997).pdf
./linear_programming/mello/Mokhtar-S.-Bazaraa_-John-J.-Jarvis-Linear-programming-and-network-flows-Wiley-_1977_.epub
./05_ipm/eScholarship UC item 9wv1z3qw.pdf
./Dimitris Bertsimas, John N. Tsitsiklis - Introduction to Linear Optimization-Athena Scientific (1997).pdf
./linear_programming/mello/Mokhtar-S.-Bazaraa_-John-J.-Jarvis-Linear-programming-and-network-flows-Wiley-_1977_.epub
./references/Steven L. Brunton, J. Nathan Kutz - Data-Driven Science and Engineering_ Machine Learning, Dynamical Systems, and Control-Cambridge University Press (2019).pdf
./references/Dimitris Bertsimas, John N. Tsitsiklis - Introduction to Linear Optimization-Athena Scientific (1997).pdf
./05_ipm/eScholarship UC item 9wv1z3qw.pdf
